html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: aquamarine; /* Replace with your desired color */
  }
  
.navbar {
    margin-left: 10px;
    margin-bottom: 50px;
    font-size: xx-large;
}